.admin-section {
  flex-flow: column wrap;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.add-pet-panel {
  flex-flow: column wrap;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.adoption-panel {
  flex-flow: column wrap;
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: column;
}
textarea {
  resize: none;
}
.config {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.config-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.select {
  width: 95%;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.config-preview {
  display: flex;
  width: 50%;
  flex-direction: column;
}

@media screen and (max-width: 48em) {
  .admin-section {
    flex-direction: column;
  }
  .add-pet-panel {
    width: 100%;
  }
  .adoption-panel {
    width: 100%;
    justify-content: center;
  }
}

/*FILE*/

.file-area {
  width: 95%;
  position: relative;
}
.file-area input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.file-area .file-dummy {
  width: 100%;
  padding: 30px;
  background: rgba(101, 236, 88, 0.2);
  border: 2px dashed rgba(212, 66, 66, 0.2);
  text-align: center;
  transition: background 0.3s ease-in-out;
}
.file-area .file-dummy .success {
  display: none;
}
.file-area:hover .file-dummy {
  background: rgba(7, 163, 41, 0.534);
}
.file-area input[type="file"]:focus + .file-dummy {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}
.file-area input[type="file"]:valid + .file-dummy {
  border-color: rgba(0, 255, 0, 0.4);
  background-color: rgba(0, 255, 0, 0.3);
}
.file-area input[type="file"]:valid + .file-dummy .success {
  display: inline-block;
}
.file-area input[type="file"]:valid + .file-dummy .default {
  display: none;
}
.images-label {
  font-weight: 500;
  display: block;
  margin: 4px 0;
  text-transform: uppercase;
  font-size: 13px;
  overflow: hidden;
}
