.profile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(236, 221, 154);
  color: rgb(2, 2, 2);
}
.profile-header-title {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.pets-for-adoption {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.logout-btn {
  display: flex;
  background: rgb(151, 128, 2);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  opacity: 1;
  transition: 0.3s;
}

.logout-btn:hover {
  opacity: 0.6;
}

.account-btn {
  display: flex;
  background: rgb(151, 128, 2);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  opacity: 1;
  transition: 0.3s;
}

.account-btn:hover {
  opacity: 0.6;
}

.add-pet {
  display: flex;
  background: rgb(151, 128, 2);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  opacity: 1;
  transition: 0.3s;
}

.add-pet:hover {
  opacity: 0.6;
}

.cat-img {
  padding: 10px 20px;
  margin: 5px;
}

.adopt-cat-label {
  position: absolute;
  margin-left: 70px;
  margin-top: 150px;
  font-size: 25px;
  border-radius: 10px;
}
.adopt-dog-label {
  position: absolute;
  margin-left: 70px;
  margin-top: 150px;
  font-size: 25px;
  border-radius: 10px;
}

.cat-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(151, 128, 2);
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  margin-right: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.cat-btn:hover {
  opacity: 0.6;
}

.dog-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(151, 128, 2);
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  margin-right: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.dog-btn:hover {
  opacity: 0.6;
}
