img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.pet-image {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.pet-for-adoption-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: 1px solid rgba(248, 248, 248, 0.8);
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}
.pet-for-adoption-button:hover {
  background-color: rgba(251, 253, 251, 0.2);
}
.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.pet {
  border-radius: 3%;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 1rem;
}

.pet-card-content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}

.pet-name {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.pet-details {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
