.nav-home {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(236, 221, 154);
    color: rgb(2, 2, 2);
  }
  .nav-buttons{
    display: flex;
    justify-content: space-around;
    margin-left: 25vh;
    
  }
  
  .logo-name {
    display: flex;
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
  }
  
  .login-btn {
    display: inline-block;
    background: rgb(151, 128, 2);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    opacity: 1;
    transition: 0.3s;
  }
  .login-btn:hover {
      opacity: 0.6;
  }
  
  .register-btn {
    display: inline-block;
    background: rgb(151, 128, 24);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    opacity: 1;
    transition: 0.3s;
  }
  
  .register-btn:hover {
      opacity: 0.6;
  }
  
  
  .title {
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;
  }  
  
  .title-text {
    text-align:justify;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 10vh;
    padding-right: 10vh;
  
  }
  